header {
    text-align: center;
    font-size: 50px;
    background-color: gray;
    color: white;
}
.list-group{
    
    width:25%;
    height: 25%;
    position: fixed;
  
    

}
h1{
    font-size: 20px;
}
.jumbotron{
    float: right;
    width: 75%;
    height: 75%;
    margin-top: 40px;
}
.weather-container {
    float: bottom;
}
.container{

    display: flex; 
}
.forecast{
    height: 140px;
    width: 140px;
    background-color:#0000ff;
    margin-right: 80px;
    color: white;
    padding-left: 7px;

   
}
.icons{
   padding-left: 25px;
   font-size: 120%;
   margin-top: 1px;

}