*{
    margin: 0;
    padding: 0;
  }
  body{
    margin: 0;
    background:white;
    font-family: Arial,Helvetica,sans-serif;
    
  }

  #currentWeatherUV{
    width: fit-content;
    padding: .3%;
  }

  section{
    width: 960px;
    
    margin: 0 auto;
    
  }

 
  
  header,footer{
    padding: 10px;
    background: teal;
    border: 2px solid black;
    text-align: center;
    color:white;
  }


  #clearSearches {
    cursor: pointer;
    
  }

  .card-text{
  font-size: 65%;

    
  }

  #currentWeatherDiv{
    font-size: 1.5rem;

  }


 
  
  